<header class="w-full bg-white shadow-md">
    <nav
        class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 py-4 flex justify-between items-center"
    >
        <a
            href="/"
            class="flex items-center space-x-2 text-[#111827] font-bold text-2xl"
        >
            <svg
                width="33"
                height="33"
                viewBox="0 0 33 33"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M16.5 0.5L32.5 16.5L16.5 32.5L0.5 16.5L16.5 0.5ZM14.8333 23.8333V9.16667L7.16667 16.5L14.8333 23.8333Z"
                    fill="#1173D4"></path>
            </svg>
            <span>FinanciaPro</span>
        </a>

        <a
            href="/login"
            class="bg-[#1173D4] text-white font-semibold py-2 px-5 rounded-lg transition duration-300 transform hover:scale-105 cursor-pointer"
        >
            Ingresar
    </a>
    </nav>
</header>
