<section
    class="relative overflow-hidden text-center py-20 sm:py-28 lg:py-36 bg-[url(/hero.jpg)] bg-cover bg-center bg-no-repeat"
>
    <div class="absolute inset-0 bg-black opacity-50"></div>


    <div class="relative z-10 max-w-4xl mx-auto px-4">
        <h1
            class="text-4xl sm:text-5xl lg:text-6xl font-extrabold text-white leading-tight mb-4 drop-shadow-lg"
        >
            Impulsa tu negocio con FinanciaPro
            
        </h1>

        <p class="text-lg sm:text-xl text-white mb-8 max-w-3xl mx-auto">
            Accede a créditos rápidos y flexibles para PYMES. Digitaliza tu
            solicitud y obtén una respuesta en tiempo récord.
        </p>

        <a
            href="/register"
            class="bg-[#1173D4] text-white font-bold py-3 px-8 rounded-lg shadow-xl text-lg transition duration-300 transform hover:scale-105 cursor-pointer"
        >
            Solicitar Crédito Ahora
    </a>
    </div>
</section>
