---
import Layout from '../layouts/Layout.astro';
import ApplicationHeader from '../components/ApplicationHeader.astro';
import CreditApplicationForm from '../components/CreditApplicationForm.astro';
---

<Layout title="FinanciaPro | Solicitud de Crédito">
    
    <ApplicationHeader />

    <main class="bg-gray-50 min-h-screen">
        <CreditApplicationForm />
    </main>
    
    </Layout>