---
import Layout from '../layouts/Layout.astro';
import ApplicationHeader from '../components/ApplicationHeader.astro';
import CreditApplicationForm from '../components/CreditApplicationForm.astro';
import CreditApplicationTest from '../components/CreditApplicationTest.astro';

import { getSession } from 'auth-astro/server';
const session = await getSession(Astro.request);


---

<Layout title="FinanciaPro | Solicitud de Crédito">
    <ApplicationHeader />

    <main class="bg-gray-50 min-h-screen">
        <CreditApplicationTest />
    </main>
</Layout>