---
import Layout from '../layouts/Layout.astro';
import LoginForm from '../components/LoginForm.astro';
import Footer from '../components/Footer.astro'; // Asumo que el Header y Footer son ligeros
---

<Layout title="FinanciaPro | Inicia sesión">
    <main class="flex justify-center items-center bg-gray-100">
        <LoginForm />
    </main>
    <Footer />
</Layout>