---
import Layout from '../layouts/Layout.astro';
import LoginForm from '../components/LoginForm.astro';
import Footer from '../components/Footer.astro'; 

import { getSession } from 'auth-astro/server';
const session = await getSession(Astro.request);

if (session) {
    // Si la sesión existe, redirige inmediatamente al usuario.
    return Astro.redirect("/application"); 
}
---

<Layout title="FinanciaPro | Inicia sesión">
    <main class="flex justify-center items-center bg-gray-100">
        <LoginForm />
    </main>
    <Footer />
</Layout>