---
import Layout from '../layouts/Layout.astro';
import RegisterForm from '../components/RegisterForm.astro';
import Footer from '../components/Footer.astro'; // Asumo que el Header y Footer son ligeros
---

<Layout title="FinanciaPro | Crear Cuenta">
    <main class="flex justify-center items-center bg-gray-100">
        <RegisterForm />
    </main>
    <Footer />
</Layout>