---
import Layout from '../layouts/Layout.astro';
import ApplicationHeader from '../components/ApplicationHeader.astro';
import SuccessMessage from '../components/SuccessMessage.astro';
---

<Layout title="FinanciaPro | Éxito">
    <ApplicationHeader />

    <main class="bg-gray-50 min-h-screen">
        <SuccessMessage />
    </main>
</Layout>